<div class="account-container">
    <h1>Account Update</h1>
    <%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <%  }) %>
        </ul>
    <% } %>
    <h2>Profile Update</h2>
    <div class="account-form">
        <form id="updateProfile" action="/account/update-profile" method="post">
            <label for="account_firstname"><b>First Name</b></label><br>
            <input type="text" name="account_firstname" id="account_firstname" placeholder="Enter your first name here"
                pattern=".+" required value="<%= account_firstname %>"><br>
            <label for="account_lastname"><b>Last Name</b></label><br>
            <input type="text" name="account_lastname" id="account_lastname" placeholder="Enter your last name here"
                pattern=".{2,}" required value="<%= account_lastname %>"><br>
            <label for="account_email"><b>Email</b></label><br>
            <input type="email" name="account_email" id="account_email" placeholder="Enter your email here" required
                value="<%= account_email %>"><br>
            <input type="hidden" name="account_id" value="<%= account_id %>">
            <input id="profileBtn" title="Click to update profile" disabled type="submit" value="Update Profile">
        </form>
    </div>
    <h2>Change Password</h2>
    <div class="account-form">
        <form id="changePassword" action="/account/update-password" method="post">
            <label for="account_password"><b>New Password</b></label><br>
            <input type="password" name="account_password" id="account_password"
                pattern='^(?=.*\\d)(?=.*[a-z])(?=.*[!@#$%^&*()_+"/])(?=.*[A-Z]).{12,}$'
                placeholder="Enter your password here" required><br>
            <div class="show-password">
                <label class="switch">
                    toggle
                    <input type="checkbox" onclick="showPassword()">
                    <span class="slider round"></span>
                </label>
                <span class="switch-label">Show Password</span>
            </div>
            <div id="passwordValidator">
                <p><b>Password must contain the following:</b></p>
                <p id="special" class="invalid">A <b>special character</b> letter</p>
                <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="length" class="invalid">Minimum <b>12 characters</b></p>
            </div>
            <br>
            <input type="hidden" name="account_id" value="<%= account_id %>">
            <input id="passwordBtn" title="Click to change password" disabled type="submit" value="Change Password">
        </form>
    </div>
    <p>
        <a title="Click to back to account management" href="/account">Back to account management</a>
    </p>
</div>
<script src="/js/account.js"></script>
<script src="/js/update-account.js"></script>