<div class="inv-container">
    <h1>Delete <%= inv_make %> <%= inv_model %></h1>
    <%- messages() %>
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>
    <div class="inv-form">
        <p class="notice">Delete action cannot be undo</p>
        <form id="updateInventory" action="/inv/delete-inventory" method="post">
            <label for="inv_make"><b>Manufacturer</b></label><br>
            <input type="text" name="inv_make" id="inv_make"
                <% if (inv_make) { %>
                    value="<%= inv_make %>"
                <% } %>
                required readonly><br>
            <label for="inv_model"><b>Model</b></label><br>
            <input type="text" name="inv_model" id="inv_model"
                <% if (inv_model) { %>
                    value="<%= inv_model %>"
                <% } %>
                required readonly><br>
            <label for="inv_year"><b>Year</b></label><br>
            <input type="number" name="inv_year" id="inv_year"
                <% if (inv_year) { %>
                    value="<%= inv_year %>"
                <% } %>
                required readonly><br>
            <label for="inv_price"><b>Price</b></label><br>
            <input type="number" name="inv_price" id="inv_price" step="0.01" min="0"
                <% if (inv_price) { %>
                    value="<%= inv_price %>"
                <% } %>
                lang="en-US" required readonly><br>
            <input type="hidden" name="inv_id" value="<%= inv_id %>">
            <input title="Click to delete vehicle" type="submit" value="Delete Vehicle">
        </form>
    </div>
    <p>
        <a title="Click to back to inventory management" href="/inv">Back to inventory management</a>
    </p>
</div>
<script src="/js/script.js"></script>