<div class="inv-container">
    <h1>Edit <%= inv_make %> <%= inv_model %></h1>
    <%- messages() %>
    <% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
        <li>
            <%= error.msg %>
        </li>
        <% }) %>
    </ul>
    <% } %>
    <div class="inv-form">
        <form id="updateInventory" action="/inv/update-inventory" method="post" enctype="multipart/form-data">
            <label for="inv_make"><b>Manufacturer*</b></label><br>
            <input type="text" name="inv_make" id="inv_make" placeholder="Enter manufacturer here" pattern=".{2,}"
                <% if (inv_make) { %>
                    value="<%= inv_make %>"
                <% } %>
                required><br>
            <label for="inv_model"><b>Model*</b></label><br>
            <input type="text" name="inv_model" id="inv_model" placeholder="Enter model here" pattern=".{2,}"
                <% if (inv_model) { %>
                    value="<%= inv_model %>"
                <% } %>
                required><br>
            <label for="inv_year"><b>Year*</b></label><br>
            <input type="number" name="inv_year" id="inv_year" placeholder="Enter year here"
                <% if (inv_year) { %>
                    value="<%= inv_year %>"
                <% } %>
                required><br>
            <label for="inv_description"><b>Description*</b></label><br>
            <textarea name="inv_description" id="inv_description" required><% if (inv_description) { %><%= inv_description %><% } %></textarea><br>
            <p><b>Image</b></p>
            <label for="inv_image" class="custom-upload">
                image
                <img src="/images/site/upload.png" alt="upload cloud"> 
                <span><b>Choose a file</b></span>
            </label>
            <input type="file" name="inv_image" id="inv_image" accept="image/*" onchange="loadFile(event)">
            <div class="image-preview">
                <img <% if (inv_image) { %>
                    src="<%= inv_image %>"
                <% } %> id="output" alt="output"><br>
            </div>
            <label for="inv_price"><b>Price*</b></label><br>
            <input type="number" name="inv_price" id="inv_price" placeholder="Enter price here" step="0.01" min="0"
                <% if (inv_price) { %>
                    value="<%= inv_price %>"
                <% } %>
                lang="en-US" required><br>
            <label for="inv_miles"><b>Miles*</b></label><br>
            <input type="number" name="inv_miles" id="inv_miles" placeholder="Enter miles here" step="0.01" min="0"
                <% if (inv_miles) { %>
                    value="<%= inv_miles %>"
                <% } %>  
                lang="en-US" required><br>
            <label for="inv_color"><b>Color*</b></label><br>
            <input type="text" name="inv_color" id="inv_color" placeholder="Enter color here" pattern=".{2,}"
                <% if (inv_color) { %>
                    value="<%= inv_color %>"
                <% } %> 
                required><br>
            <%- selectClassification %>
            <br>
            <input type="hidden" name="inv_id" value="<%= inv_id %>">
            <input title="Click to update vehicle" disabled type="submit" value="Update Inventory">
        </form>
    </div>
    <p>
        <a title="Click to back to inventory management" href="/inv">Back to inventory management</a>
    </p>
</div>
<script src="/js/script.js"></script>
<script src="/js/update-inventory.js"></script>
<script src="/js/image-handler.js"></script>